{{- $lastmod := .Lastmod -}}
{{- if $lastmod.IsZero -}}
  {{- $lastmod = .Date -}}
{{- end -}}
{{- if not $lastmod.IsZero -}}
<div class="last-updated">
  <span class="last-updated-label">Last updated {{ $lastmod.Format "January 2, 2006" }}</span>
  {{- with .File -}}
  <a href="https://github.com/cxedhub/wiki/commits/main/content/{{ .Path }}" class="last-updated-history" title="View version history" target="_blank" rel="noopener">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/><path d="M3 3v5h5"/><path d="M12 7v5l4 2"/></svg>
  </a>
  {{- end -}}
</div>
{{- end -}}
